@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Modak|Gruppo&display=swap');



body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	
	box-sizing: border-box;
}
#body-grid {

	height: 100vh;
	width: 100vw;
	display: grid;
	
}
@media only screen and (max-width: 360px){

	#body-grid {

		background-color: #ebdcc6;
		grid-template: repeat(auto-fill, 50px) / 10px 1fr 10px;
		
	}

	.menu{
		margin: 0px;
		background-color:#ffffff;
		grid-area: 1 / 2 / 2 / 3;
	}
	.profile{
		grid-area: 2 / 1 / 6 / 4;
		background-image: url(profile.jpg);
	}
	.featured{
	grid-area: 5 / 2 / 12 / 3;
	margin-top: 20px;
	background-color: #ffffff;
	}
}

@media only screen and (min-width: 550px){
#body-grid {
	background-color: #d2fafb;
	grid-template: 10px repeat(14, 1fr) 10px / 10px repeat(14, 1fr) 10px;
	gap: 5px;
	

} 

.grid-child {
	background-color:rgb(255, 215, 128);
	
}
}
/*
#header-logo img {
	
	grid-column: 5 / span 9 ;
	grid-row: 1 / span 6;

}



.flex-container {
	
	display: none;
	flex-direction: column;
	color: white;
	width: 500px;
	grid-row-start: 2;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.body-item {
	color: none;
	display: none;
  	background: none;
	grid-row: 2 / 3;
	
}
a:link, a:visited {
	color: white;
	background-color: none;
	text-decoration: none;
font-family: 'Gruppo', cursive;
	font-size: 36pt;
}

a:hover {
	color: black;
	
}
