@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Teko:700,300,500&display=swap');

:root {
	font-size: 5vw;

}
* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#body-grid {
	display: grid;
	height: 100vh;
	width: 100vw;
	
	
}
@media only screen and (max-width: 420px) and (min-width: 180px){

	#body-grid {
		grid-template: 10vh 1fr repeat(4, 10vh) / 1fr;
		/* Main Background */
		background-image: url(album_art-400px.jpg);
		background-size: cover ;
		background-position: center;
		
		
	}

	.menu{
		margin: 0px;
		background-color:hsla(0, 0%, 100%, .7);
		grid-area: 1 / 1 / 2 / 2;
	}

	.home_btn{
		height: 6vh;
		width: 6vh;
		margin: 2vh;
		float: right;
		background-color: hsla(0, 0%, 85%, 1);
	}

	.profile{
		grid-area: 2 / 1 / 6 / 4;
		background-image: url(profile.jpg);
		background-size: 360px;
		background-position: top center;

	}
	.featured{
		grid-area: 4 / 1 / 7 / 2;
		font-family: 'Teko', sans-serif;
		
		font-size: 8vh;
		font-weight: 500;
		text-align: right;
		margin-right: 6vw;
		line-height: 9vh;
		
		
		
	}

}


/*
#header-logo img {
	
	grid-column: 5 / span 9 ;
	grid-row: 1 / span 6;

}



.flex-container {
	
	display: none;
	flex-direction: column;
	color: white;
	width: 500px;
	grid-row-start: 2;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.body-item {
	color: none;
	display: none;
  	background: none;
	grid-row: 2 / 3;
	
}
a:link, a:visited {
	color: white;
	background-color: none;
	text-decoration: none;
font-family: 'Gruppo', cursive;
	font-size: 36pt;
}

a:hover {
	color: black;
	
}
