@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Teko:700,300,500&display=swap');

:root {
	font-size: 5vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

a:link, a:hover, a:visited, a:active {
	color: ghostwhite;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	background-position: top center;
	background-image: url(young_ess.jpg);
	display: grid;
	height: 100vh;
	height:calc(var(--vh, 1vh) * 100);
	width: 100vw;
}




@media only screen and (max-width: 390px) and (min-width: 180px){
	
	body {
		grid-template: 10vh 1fr repeat(4, 10vh) / 1fr;
		/* Main Background */
		background: url(beta_ess.jpg) center/cover no-repeat fixed; 
	}
	
	header{
		grid-area: 1 / 1 / 2 / 2;
		background-color: #323c2bff;
	}
	.menu{
		width: 100%;
		height: 100%;
		padding: 2vh;
	}
	
	.main_logo{
		float: left; 
		width: 6vh; 
		height:6vh;
	}

	.logo_yng {
		width: 100%;
	}

	.home_btn{
		height: 6vh;
		width: 6vh;
		float: right;
	}
	.hamburger{
		width: 6vh; 
		height: 1vh; 
		margin-bottom: 1vh; 
		background-color: #4b5e47ff;
	}
	.home_menu{
		font-family: 'Teko', sans-serif;
		font-size: 8vh;
		visibility: hidden;
		text-align: right;
		margin-top: 10vh;
		line-height: 9vh;
		color: ghostwhite;
	}

	.featured {
		grid-area: 3 / 1 / 7 / 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 6vw;
		font-family: 'Teko', sans-serif;
		font-size: 8vh;
		text-shadow: .2vw .2vw #4b5e47ff;
		font-weight: 500;
		line-height: 9vh;
	}

	.album {
		grid-area: 1 / 1 / 2 / 2; 
		min-width: 128px;
		color:#7d8c6bff; 
		text-align: right;
		background-color: #323c2bee;
		padding-right: 1.5vw;
		height:fit-content;
	}

	.out_now {
		color: #323c2bee;
		background-color: #7d8c6bff;
		padding-left: 1vw; 
		margin-top: 17.9vh;
		height: 8vh;
		min-width: 128px;

	}
}

